# Lightmaps
*.exr
*.exr.meta
LightmapSnapshot.asset
LightmapSnapshot.asset.meta
LightingData.asset
LightingData.asset.meta

# Visual Studio files
*.cachefile
*.csproj
*.pidb
*.sln
*.suo
*.unityproj
*.user
*.userprefs
*.v11
*.v12

# Folders
Library/
obj/
Temp/

Assets/*frst
Assets/*frst.meta
